
.ss-loading-screen {
    background: #fa9900;
    background: -moz-radial-gradient(50% 50% 180deg, circle cover, #fa9900, #fa9900, #fba800 100%);
    background: -webkit-gradient(radial, 50% 50%, 350, 50% 50%, 0, from(#fa9900), to(#fba800));

}

.ss-loading-screen .loading-logo {
   -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  border: none;
  width: 200px;
  height: 200px;
    background: url(../images/webcronize-logo.png) no-repeat 50% 50%;
   margin: auto;  
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
}


.cms-logo a { 
     background:url('../images/webcronize-small-logo.png') no-repeat left center;
 height:auto;
 width:36px;
 }
 .webcronize-small-logo{
    margin-left: 40px;
 }
