.borderbox {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.container {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (min-width: 640px) {
  .container.table {
    display: table;
  }
}
.row {
  clear: both;
}
@media screen and (min-width: 640px) {
  .table .row {
    display: table-row;
  }
}
.col {
  margin: 0 1%;
  width: 6.25%;
  float: left;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.col.col-2 {
  width: 14.5833333333%;
}
.col.col-3 {
  width: 22.9166666667%;
}
.col.col-4 {
  width: 31.25%;
}
.col.col-5 {
  width: 39.5833333333%;
}
.col.col-6 {
  width: 47.9166666667%;
}
.col.col-7 {
  width: 56.25%;
}
.col.col-8 {
  width: 64.5833333333%;
}
.col.col-9 {
  width: 72.9166666667%;
}
.col.col-10 {
  width: 81.25%;
}
.col.col-11 {
  margin: 0 1%;
  width: 89.5833333333%;
}
.col.col-12 {
  width: 97.9166666667%;
}
.col.center-align {
  float: none;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 640px) {
  .table .row .col {
    display: table-cell;
  }
}
@media screen and (max-width: 980px) {
  .container {
    /*
        .row {
            overflow: hidden;

            .col {

                &.col-6, &.col-7 ,&.col-8 ,&.col-9 ,&.col-10 ,&.col-11, &.col-12 {
                  width: 100%;
                  margin-right: 0;
                  margin-left: 0;
                  height: auto;
                }

            }


        }*/
  }
}
@media screen and (max-width: 640px) {
  .container .row .col.col-1,
  .container .row .col.col-2,
  .container .row .col.col-3,
  .container .row .col.col-4,
  .container .row .col.col-5,
  .container .row .col.col-6,
  .container .row .col.col-7,
  .container .row .col.col-8,
  .container .row .col.col-9,
  .container .row .col.col-10,
  .container .row .col.col-11,
  .container .row .col.col-12 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
.debug .col {
  background: #f1f1f1;
}
form fieldset {
  border: 0;
  padding: 0;
}
form fieldset div.field {
  overflow: hidden;
  padding-bottom: 1.25rem;
}
form fieldset div.field label.left {
  float: left;
  width: 25%;
  margin-right: 5%;
}
form fieldset div.field div.middleColumn {
  width: 60%;
  float: left;
}
form fieldset div.field div.middleColumn input.text,
form fieldset div.field div.middleColumn input.email,
form fieldset div.field div.middleColumn input.password {
  height: 1.5rem;
  line-height: 1.5rem;
  width: 100%;
  max-width: 20rem;
}
form fieldset div.field div.middleColumn select {
  width: 100%;
  max-width: 20rem;
}
form fieldset div.field div.middleColumn ul {
  margin: 0;
  list-style: none;
  list-style-type: none;
  padding-left: 0;
}
form fieldset div.field div.middleColumn ul li {
  padding-bottom: 0.5rem;
}
form .Actions {
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  padding-left: 30%;
}
form .Actions input {
  float: left;
}
.container {
  padding: 2rem 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.col-3.image,
.col-12.image {
  font-size: 0;
  line-height: 0;
  text-align: center;
}
.col-3.image img,
.col-12.image img {
  width: 100%;
}
.col-3 img {
  max-width: 100%;
  width: auto;
}
.col-12 {
  padding-bottom: 20px;
}
.col-9 {
  padding: 1rem 0.5rem;
  min-height: 8.5rem;
  font-weight: bold;
}
.col-9,
.col-3 {
  margin-bottom: 20px;
}
.foot-note {
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
