form {

    fieldset {
        border: 0;
        padding: 0;

        div.field {
            overflow: hidden;
            padding-bottom: 1.25rem;

            label.left {
                float: left;
                width: 25%;
                margin-right: 5%;
            }

            div.middleColumn {
                width: 60%;
                float: left;



                input {
                    &.text,
                    &.email,
                    &.password {
                        height: 1.5rem;
                        line-height: 1.5rem;
                        width: 100%;
                        max-width: 20rem;
                    }
                }

                select {
                    width: 100%;
                    max-width: 20rem;
                }

                ul {
                    margin: 0;
                    list-style: none;
                    list-style-type: none;
                    padding-left: 0;

                    li {
                        padding-bottom: 0.5rem;
                    }
                }


            }

        }
    }

    .Actions {
        overflow: hidden;
        .borderbox;
        padding-left: 30%;

        input {
            float: left;
        }

    }

}