@max-width: 980px;
@mobile-large: 640px;
@mobile-small: 480px;

.borderbox {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.container {
    .borderbox;
    width: 100%;
    max-width: @max-width;
    margin: 0 auto;
    overflow: hidden;

    &.table {
        @media screen and (min-width: @mobile-large){
            display: table;
        }
    }
}

.row {
    clear: both;
}

@media screen and (min-width: @mobile-large){
    .table .row {
        display: table-row;
    }
}

.col {
    margin: 0 1%;
    width: 6.25%;
    float: left;
    min-height: 1px;
    .borderbox;

    &.col-2 {
      width: 14.5833333333%;
    }

    &.col-3 {
      width: 22.9166666667%;
    }

    &.col-4 {
      width: 31.25%;
    }

    &.col-5 {
      width: 39.5833333333%;
    }

    &.col-6 {
      width: 47.9166666667%;
    }

    &.col-7 {
      width: 56.25%;
    }

    &.col-8 {
      width: 64.5833333333%;
    }

    &.col-9 {
      width: 72.9166666667%;
    }

    &.col-10 {
      width: 81.25%;
    }

    &.col-11 {
      margin: 0 1%;
      width: 89.5833333333%;
    }

    &.col-12 {
      width: 97.9166666667%;
    }

    &.center-align {
      float: none;
      clear: both;
      margin-left: auto;
      margin-right: auto;
    }

}


@media screen and (min-width: @mobile-large){
    .table .row {
        .col {
            display: table-cell;
        }
    }
}


@media screen and (max-width: @max-width){
    .container {
        /*
        .row {
            overflow: hidden;

            .col {

                &.col-6, &.col-7 ,&.col-8 ,&.col-9 ,&.col-10 ,&.col-11, &.col-12 {
                  width: 100%;
                  margin-right: 0;
                  margin-left: 0;
                  height: auto;
                }

            }


        }*/

    }

}

@media screen and (max-width: @mobile-large){
    .container {
        .row {
            .col {

                &.col-1, &.col-2, &.col-3, &.col-4, &.col-5, &.col-6, &.col-7, &.col-8, &.col-9, &.col-10, &.col-11, &.col-12 {
                    width: 100%;
                    margin-right: auto;
                    margin-left: auto;
                }

            }
        }
    }
}

.debug .col {
    background: #f1f1f1;
}