

@import "grid";
@import "forms";

.container {
    padding: 2rem 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.col-3.image, .col-12.image {
    font-size: 0;
    line-height: 0;
    text-align: center;
    img {
        width: 100%;
    }
}

.col-3 {

    img {
        max-width: 100%;
        width: auto;
    }
}

.col-12 {
    padding-bottom: 20px;
}

.col-9 {
    padding: 1rem 0.5rem;
    min-height: 8.5rem;
    font-weight: bold;
}

.col-9, .col-3 {
    margin-bottom: 20px;
}

.foot-note {
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

